#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.packageInput {
  margin: 0 10px 0 10px;
}

table{
  width: 100%;
  background-color: #1a1a1a;
}

td.review {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #232323;
}

tr:nth-child(even) {
  background-color: #131313;
}
